<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Solutions</title>
    <link rel="icon" href="img/3.png">
    <link rel="stylesheet" href="css/index2.css">
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form id="registrationForm">
        <label for="username">User Name</label>
        <input type="name" id="name" placeholder="Enter Name">
        <label for="email">Email Address</label>
        <input type="email" id="email" placeholder="Enter Mail">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter Password">
        <label for="confirm">Confirm Password</label>
        <input type="password" id="confirm" placeholder="Re-enter Password">
        <label for="role">Select Role</label>
        <select name="role" id="role">
            <option value="Web developer">Web Developer</option>
            <option value="Data analyst">Data analyst</option>
            <option value="Graphic designer">Graphic Designer</option>
        </select>
        <button type="button" id="signup" href="">Sign Up</button>
        <footer>Already registered?</footer>
        <footer><a href="main.html" >Login</a></footer>
    </form>
    </div>
    <footer class="foot-class">
        <img src="img/3.png" class="foot-img">
    </footer>
    
</body>
</html>