<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Solutions</title>
    <link rel="icon" href="/img/3.png">
    <link rel="stylesheet" href="/css/Newpassword.css"> 
</head>
<body>
    <div class="box1">
        <h2 class="new-password">Forgot your password? No worries, you can reset here</h2>
        <div class="keyword">
            <form class="passkey_form" action="/newpass" method="post">
                <label for="username">Signup code</label>
                <input type="text"  name="code" placeholder="Enter your Signup Code">
                <br><br>
                <label for="new-password">New Password</label>
                <input type="password"  name="newpassword" placeholder="Enter Your New password">
                <br><br>
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirmpassword" placeholder="Confirm your password">
                <button class="save">SAVE CHANGES</button>
            </form>
            <p class="login-text">Already part of the company?<a href="/signup" class="login">   Click to LOGIN</a></p>
        </div>
    </div>
</body>
</html>
