body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right, #36051c, #1b0572);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="file"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="file"] 
{
    padding-top: 15px; 
}

button {
    background-color: #FFA500;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FF8C00;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* border: 2px solid red; */
    border-radius: 8px;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 50%;
}

.left {
    padding: 20px; 
}
.left h1
{
    font-weight: bold;
    text-transform: uppercase;
}

.right 
{
    padding: 20px;
    border-left: 1px solid #ccc;
    width: 60%; 
}

.left a 
{
    text-decoration: none;
    font-weight: 600;
    padding: 10px 20px; 
    border-radius: 5px; 
    background-color: #333; 
    color: white;
    transition: background-color 0.3s; 
}
.left a:hover 
{
    background-color: #555; 
}
